
    body {
      background-color: #eee;
      padding: 4px;
      margin: 0;
    }
    .Paper {
      background-color: #fff;
      border:1px solid black;
      margin: 1em auto;
    }
    .Paper:first-child {
      margin-top: 0;
    }
    .Paper:last-child {
      margin-bottom: 0;
    }
/* Styles */
p.Normal {
}
p.Body {
}
p.Outline-1 {
}
p.Outline-2 {
}
p.Outline-3 {
}
p.Outline-4 {
}
p.Outline-5 {
}
p.Outline-6 {
}
p.Outline-7 {
}
p.Page-Number {
}
p.Header {
}
p.Footnote {
}
p.Endnote {
}
p.Memo {
}
/* Paragraph attributes */
.parashape-0 {
  margin: 0pt 0pt 0pt 0pt;
  text-align: justify;
  text-indent: -13.1pt;
  padding-left: 13.1pt;
  min-height: 1.3em;
}
.parashape-0 > span {
  line-height: 1.3;
}
.parashape-1 {
  margin: 0pt 0pt 0pt 0pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-1 > span {
  line-height: 1.6;
}
.parashape-2 {
  margin: 0pt 0pt 0pt 0pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-2 > span {
  line-height: 1.6;
}
.parashape-3 {
  margin: 0pt 0pt 0pt 15pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-3 > span {
  line-height: 1.6;
}
.parashape-4 {
  margin: 0pt 0pt 0pt 10pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-4 > span {
  line-height: 1.6;
}
.parashape-5 {
  margin: 0pt 0pt 0pt 20pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-5 > span {
  line-height: 1.6;
}
.parashape-6 {
  margin: 0pt 0pt 0pt 30pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-6 > span {
  line-height: 1.6;
}
.parashape-7 {
  margin: 0pt 0pt 0pt 40pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-7 > span {
  line-height: 1.6;
}
.parashape-8 {
  margin: 0pt 0pt 0pt 50pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-8 > span {
  line-height: 1.6;
}
.parashape-9 {
  margin: 0pt 0pt 0pt 60pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-9 > span {
  line-height: 1.6;
}
.parashape-10 {
  margin: 0pt 0pt 0pt 70pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-10 > span {
  line-height: 1.6;
}
.parashape-11 {
  margin: 0pt 0pt 0pt 0pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.5em;
}
.parashape-11 > span {
  line-height: 1.5;
}
.parashape-12 {
  margin: 0pt 0pt 0pt 0pt;
  text-align: justify;
  text-indent: 0pt;
  min-height: 1.6em;
}
.parashape-12 > span {
  line-height: 1.6;
}
/* Text attributes */
.charshape-0 {
  color: #000000;
  font-family: /* base: 1 3 5 7 9 11 13 */
/* base + offset: 1 3 5 7 9 11 13 */
/* ko en cn jp other symbol user */
"굴림", "굴림", "굴림", "굴림", "굴림", "굴림", "굴림";
  font-size: 10pt;
}
.charshape-1 {
  color: #000000;
  font-family: /* base: 1 3 5 7 9 11 13 */
/* base + offset: 2 4 6 8 10 12 14 */
/* ko en cn jp other symbol user */
"바탕", "바탕", "바탕", "바탕", "바탕", "바탕", "바탕";
  font-size: 10pt;
}
.charshape-2 {
  color: #000000;
  font-family: /* base: 1 3 5 7 9 11 13 */
/* base + offset: 1 3 5 7 9 11 13 */
/* ko en cn jp other symbol user */
"굴림", "굴림", "굴림", "굴림", "굴림", "굴림", "굴림";
  font-size: 9pt;
}
.charshape-3 {
  color: #000000;
  font-family: /* base: 1 3 5 7 9 11 13 */
/* base + offset: 2 4 6 8 10 12 14 */
/* ko en cn jp other symbol user */
"바탕", "바탕", "바탕", "바탕", "바탕", "바탕", "바탕";
  font-size: 9pt;
}
.charshape-4 {
  color: #000000;
  font-family: /* base: 1 3 5 7 9 11 13 */
/* base + offset: 1 3 5 7 9 11 13 */
/* ko en cn jp other symbol user */
"굴림", "굴림", "굴림", "굴림", "굴림", "굴림", "굴림";
  font-size: 9pt;
}
.borderfill-1 {
  border-top: 1px none #000000;
  border-right: 1px none #000000;
  border-bottom: 1px none #000000;
  border-left: 1px none #000000;
  background-color: #ffffff;
}
