[run]
branch = True
source = hwp5

[paths]
source =
	pyhwp/hwp5
	.tox/*/lib/python*/site-packages/hwp5
	.tox/pypy*/site-packages/hwp5


[html]
directory = build/coverage.html


[xml]
output = build/coverage.xml
