*$py.class
*.egg-info
*.log
*.mo
*.po~
*.pyc
.*.sw?
.coverage*
/*.egg
/.eggs
/.installed.cfg
/.tox
/bin
/build
/develop-eggs
/dist
/docs/.build
/downloads
/eggs
/include
/lib
/local
/oxt/pyhwp.egg.record
/oxt/pyhwp.oxt
/oxt/pythonpath
/parts
/pip-selfcheck.json
/pyhwp/build
/pyhwp/dist
/pyhwp/localtest.py
/pyhwp/pyhwp.egg-info
/releases
/samples.local
/share
/src
/test-xsl
/testpypi
/venv
/xsltcoverage.xml
coverage-original.xml
coverage.xml
deb_dist
pep8.out
pylint.out
