buildout.cfg
bin
eggs
parts
develop-eggs
.installed.cfg
*.pyc
*$py.class
pylint.out
pyhwp/build
pyhwp/dist
pyhwp/pyhwp.egg-info
pyhwp/localtest.py
oxt/pyhwp.egg.record
oxt/pyhwp.oxt
oxt/pythonpath
.coverage*
coverage.xml
coverage-original.xml
*.egg-info
deb_dist
pep8.out
build
dist
docs/.build
MANIFEST
*.mo
*.po~
releases
downloads
venv
sdist.log
test-cli.log
tox.ini
*.log
.*.sw?
testpypi
test-xsl
xsltcoverage.xml
wheelhouse
