bin
eggs
parts
develop-eggs
.installed.cfg
*.pyc
pylint.out
pyhwp/build
pyhwp/dist
pyhwp/pyhwp.egg-info
pyhwp/localtest.py
oxt/pyhwp.egg.record
oxt/pyhwp.oxt
oxt/pythonpath
.coverage*
coverage.xml
*.egg-info
deb_dist
pep8.out
build
dist
docs/.build
MANIFEST
*.mo
*.po~
releases
downloads
venv
