include ez_setup.py
include COPYING
include pyhwp/hwp5/COPYING
include pyhwp/hwp5/README
include pyhwp/hwp5/VERSION.txt
include pyhwp/hwp5/xsl/*.xsl
include pyhwp/hwp5/xsl/odt/*
include pyhwp/hwp5/odf-relaxng/OpenDocument-v1.2-os-*.rng
include VERSION.txt
include CHANGES
include classifiers.txt
include requirements.in
include requirements.txt
include requirements-dev.in
include requirements-dev.txt
include requirements-test.in
include requirements-test.txt
include Makefile
