[buildout]
extends = translator.cfg
          components/jxml.cfg
          components/xalan-j-2.7.1.cfg
develop+= pyhwp-tests
          tools/xsltest
          tools/gpl
parts+= test-core
	test-coverage
	test-cli
        test-xsl
        test-xsl-cov
	test-sdist
        test-tools
	test-for-bisect
        xsltest
	pylint
	pep8

[pyhwp]
eggs+= nose
       coverage
       gpl
       pyroma

[test-core]
recipe = collective.xmltestreport
eggs = pyhwp-tests
defaults = ['--auto-color', '--auto-progress', '--xml', '--tests-pattern=hwp5_tests']

[test-xsl]
recipe = collective.recipe.template
input = ${buildout:directory}/misc/test-xsl.in
output = ${buildout:directory}/bin/test-xsl
mode = 755

[test-xsl-cov]
recipe = collective.recipe.template
mode=755
output=${buildout:bin-directory}/test-xsl-cov
input =inline:
       #!/bin/sh
       CLASSPATH=${xalan-j-2.7.1:jars} ${jxml:location}/bin/jxml-cov-test $*

[test-coverage]
recipe = collective.recipe.template
input = ${buildout:directory}/misc/test-coverage
output = ${buildout:directory}/bin/test-coverage
mode = 755

[test-cli]
recipe = collective.recipe.template
input = ${buildout:directory}/misc/test-cli.in
output = ${buildout:directory}/bin/test-cli
mode = 755

[test-sdist]
recipe = collective.recipe.template
input = ${buildout:directory}/misc/test-sdist.in
output = ${buildout:directory}/bin/test-sdist
mode = 755

[test-tools]
recipe = collective.xmltestreport
eggs = gpl
defaults = ['--auto-color', '--auto-progress', '--xml']

[test-for-bisect]
recipe = collective.recipe.template
input = ${buildout:directory}/misc/test-for-bisect
output = ${buildout:directory}/bin/test-for-bisect
mode = 755

[xsltest]
recipe = zc.recipe.egg
eggs = xsltest

[pylint]
recipe = zc.recipe.egg
eggs = pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]
extra-paths = ${buildout:directory}/pyhwp

[pep8]
recipe = zc.recipe.egg
eggs = pep8
